:root {
    /* background color site */
    --light-background-color: #ffffff;
    --primary-light-background-color: #fef0f8;
    --primary-medium-background-color: #fde8f5;
    --primary-dark-background-color: #f063b8;
    --primary-hover-background-color: #eb4bab;
    --secondary-light-background-color: #f0faf9;
    --secondary-medium-background-color: #eaf6fc;
    --secondary-dark-background-color: #ccddff;
    --accent-light-background-color: #f6f0fd;
    --accent-dark-background-color: #9c69e2;
    --accent-hover-background-color: #8a40ee;

    /* text color site */
    --light-text-color: #ffffff;
    --dark-text-color: #212353;
    --gray-dark-text-color: #4b5d68;
    --accent-text-color: #9c69e2;
    --accent-dark-text-color: #8a40ee;

    /* icon color site */
    --icon-light-color: #ffffff;
    --icon-background-color: rgba(33, 35, 83, 0.1);
    --icon-hover-background-color: #ffffff;
    --icon-hover-color-facebook: #3b5998;
    --icon-hover-color-twitter: #00acee;
    --icon-hover-color-instagram: #c13584;

    --shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}

/* font family */
.work-sans-bold {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.work-sans-regular {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.montserrat-light {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.montserrat-medium {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.montserrat-semi-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* base styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    color: var(--gray-dark-text-color);
    background: var(--light-background-color);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    width: 100vw;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    padding: 0;
    cursor: pointer;
}

.section {
    padding: 0;
    background: var(--light-background-color);
}

.container {
    width: 100%;
    max-width: 1170px;
    padding: 0;
    margin: 0 auto;
}

.title {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
    color: var(--dark-text-color);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 52px;
    font-size: 16px;
    line-height: 1.2;
    color: var(--dark-text-color);
    background: var(--light-background-color);
    border: 1px solid var(--accent-dark-background-color);
    border-radius: 50px;
    box-shadow: var(--shadow);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button:hover {
    background: var(--accent-dark-background-color);
    color: var(--light-text-color);
}

/* header section styles */
.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    background: var(--light-background-color);
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.header-content {
    display: flex;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}
.logo-icon {
    width: 45px;
    height: 35px;
}
.nav {
    margin-left: 120px;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-list-link {
    transition: color 0.3s ease-in-out;
}
.nav-list-link:hover {
    color: var(--accent-dark-text-color);
}
.button-primary {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 16px 23px;
}

.button-primary:hover .button-icon {
    color: var(--light-text-color);
}
.button-icon {
    width: 22px;
    height: 16px;
    color: var(--accent-dark-text-color);
}
.button-icon:hover {
    color: inherit;
}

/* hero section styles */
.main {
    padding-top: 100px;
}
.hero {
    padding-top: 100px;
}
.hero-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.hero-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    z-index: 1;
    height: 500px;
}
.hero-title {
    font-size: 80px;
    color: var(--dark-text-color);
    width: 600px;
    letter-spacing: 0;
    line-height: 1.1;
}
.hero-text {
    width: 370px;
    font-size: 18px;
    line-height: 1.63;
}
.button-secondary {
    width: 210px;
    background-color: var(--accent-dark-background-color);
    color: var(--light-text-color);
}
.button-secondary:hover {
    background: var(--accent-hover-background-color);
}
.hero-img {
    width: 770px;
    height: 407px;
    position: absolute;
    bottom: 0;
    right: 0;
}
